---
// Importa la biblioteca 'node-fetch'
// import fetch from "node-fetch";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import MenuFooter from "../../components/MenuFooter.astro";
import Social from "../../components/Social.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Content from "./Content";
import { LISTPAGESID } from "./listPageId";

const { id } = Astro.params;

export async function getStaticPaths() {
  return LISTPAGESID.map((item: any) => ({
    params: { id: item.pageId },
  }));
}
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="mx-auto px-3 md:px-8 max-w-screen-xl">
      <svg
        class="fixed z-[-1] top-[-450px] start-[-300px] opacity-30"
        width="1020"
        height="932"
        viewBox="0 0 1020 932"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g opacity="0.3" filter="url(#filter0_f_8710_4643)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M864.057 486.614C846.653 541.287 806.82 583.111 770.741 627.698C739.657 666.112 706.529 700.357 667.059 730.064C623.094 763.155 581.632 809.207 526.674 811.397C471.538 813.594 425.235 772.698 379.685 741.515C336.858 712.197 306.364 671.8 269.447 635.304C218.92 585.354 131.721 557.014 121.837 486.614C112.283 418.556 181.643 365.732 224.009 311.657C261.557 263.732 303.468 221.284 355.036 188.966C407.988 155.781 464.867 112.886 526.674 121.978C588.379 131.055 614.616 209.842 671.469 235.515C737.749 265.445 836.532 224.162 880.816 281.9C923.187 337.144 885.182 420.249 864.057 486.614Z"
            fill="#8873EF"></path>
        </g>
        <defs>
          <filter
            id="filter0_f_8710_4643"
            x="0.94458"
            y="0.740356"
            width="1019.06"
            height="930.741"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend>
            <feGaussianBlur
              stdDeviation="60"
              result="effect1_foregroundBlur_8710_4643"></feGaussianBlur>
          </filter>
        </defs>
      </svg>

      <div>
        <!-- {JSON.stringify(listIds)} -->
        <h1 class="font-black text-primary-0 text-4xl md:text-5xl mb-12 mt-14">
          {
            LISTPAGESID.map((item: any) => {
              if (item.pageId === id) {
                return item.title;
              }
            })
          }
        </h1>
      </div>
      <!-- {id} -->
      <Content idSheet={id} client:load />

      <!-- <MyComponent client:load /> -->

      <div class="grid grid-cols-1 lg:grid-cols-2 md:gap-16">
        <div class="mt-14">
          <Social />
        </div>
        <MenuFooter />
      </div>
    </main>

    <Footer />
  </body>
</html>
